name: Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout branch
        uses: actions/checkout@v6

      - name: Setup Environment
        uses: jdx/mise-action@v3

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Check Renovate config
        run: pnpm run test

      - name: Check Formatter
        run: pnpm run format:check

      - name: Test Renovate config
        run: |
          pnpm exec renovate \
              --dry-run \
              --schedule= \
              --require-config=ignored \
              '${{ github.repository }}'
        env:
          RENOVATE_USERNAME: renovate[bot]
          RENOVATE_GIT_AUTHOR: renovate[bot] <29139614+renovate[bot]@users.noreply.github.com>
          RENOVATE_TOKEN: ${{ github.token }}
          RENOVATE_BASE_BRANCHES: ${{ github.sha }}
          RENOVATE_CONFIG_FILE: ./.github/renovate.json
          LOG_LEVEL: debug
